ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
}
button {
    float: left;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

button a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

button a:hover {
    background-color: chartreuse;
    color: black;
    font-size: 32px;
}

button a:hover:not(.active) {
    background-color: aquamarine;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.carousel-item img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center;
}

footer {
    background-color: #ebeef1;
    text-align: center;
    

}


.container{
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
    color: blue;
    text-shadow: 0px 5px 10px rgb(8, 1, 7);
    border: 9px solid rgb(222, 7, 241);
    background-image: image-set("images/song-for-littles-speech-therapy.jpg")
    
    
}

.PoP {
    text-align: center;
    border-style: solid; padding: 50px;
    
}
.musictherapy {
    display: grid;
    background-color: rgb(248, 242, 247);
    pad: 9px;
    grid-template-columns: auto auto auto;
    gap: 4px 5px;
}
.img0 {
    border: solid black 5px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.img0 {
    border: solid black 5px;
    padding: 10px;
    font-size: 20px;
    text-align: center;

}
.batman {
    background-color: #d7d9f2;
  }
  
.flash {
    background-color: #ffe8d4;
  }

.last {
    background-color: #fcf7a2;
  }  
  
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 6px;
  }
  
  td {
    text-align: center;
  }
  
figure {
    margin: 0;
}


.home_page_p {
    text-shadow: 0px 5px 10px rgb(6, 0, 5);
}
-------------------activities------------------------


.home_page_p {

    text-shadow:
0px 5px 10px rgb(6,
0, 5);

}

.wooden{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Links{
    font-size: 20px;
    color: rgb(7, 90, 90);
    text-decoration: none;
    
}

.four{
    border: solid 4px #fcf7a2;
    padding: 7px;
    margin: 0 500 0 0;

}







.three{

    border:
darkred;

    font-size:
20px;

    border:
2mm ridge  rgb(211,
222, 50, .6);

    text-align:
center;

background-color:aqua;

padding: 30 30 25 30 ;

}

.five{
    font-size: larger;
    text-decoration: underline;
    
}



.two{

    display:
flex;

    align-items:
center;

}



.ac{

    font-size:
50px;

    text-align:
center;

    border:
2mm ridge rgba(211,
220, 50,
.6);

background-color: aqua;

    border-width:
9;

    padding:
2;

    margin:
20px 200px 20px 200px

     

}





.below{

    color:
rgb(255,
0, 140);

    border:
2mm ridge black;

    border-width:
5;

    padding:
1;

    margin:
20px 200px 20px 200px

}






.tab{

    padding-left: 250px;
    border:black 1px;
    
     

}



table {

    border-collapse:
collapse;

    border:
2px solid rgb(140 140 140);

    font-family:
sans-serif;

    font-size:
0.8rem;

    letter-spacing:
1px;

background-color: aliceblue;

    



  }

  

  h3 {

    display:
flex;

    align-items:
center;

    justify-content:
center;

    padding:
10px;

    font-weight:
bold;



  }

  

  thead,

  tfoot {

    background-color:
rgb(228 240 245);

  }

  

  th,

  td {

    border:
1px solid rgb(160 160 160);

    padding:
8px 10px;

  }

  

  td:last-of-type {

    text-align:
center;

  }

  

  tbody > tr:nth-of-type(even) {

    background-color:
rgb(237 238 242);

  }

  

  tfoot th {

    text-align:
right;

  }

  

  tfoot td {

    font-weight:
bold;

  }









.below{

    color:
black;

    border:
2mm ridge rgb(243, 82, 82);

    border-width:
5;

    padding:
1;

    margin:
20px 200px 20px 200px

}



table {

    border-collapse:
collapse;

    border:
2px solid rgb(140 140 140);

    font-family:
sans-serif;

    font-size:
0.8rem;

    letter-spacing:
1px;

  }

  

  caption {

    caption-side:
bottom;

    padding:
10px;

    font-weight:
bold;

  }

  

  thead,

  tfoot {

    background-color:
rgb(228 240 245);

  }

  

  th,

  td {

    border:
1px solid rgb(160 160 160);

    padding:
8px 10px;

  }

  

  td:last-of-type {

    text-align:
center;

  }

  

  tbody > tr:nth-of-type(even) {

    background-color:
rgb(237 238 242);

  }

  

  tfoot th {

    text-align:
right;

  }

  

  tfoot td {

    font-weight:
bold;

  }



---------- home and about page ---------------
.home_page_p {
    text-shadow: 0px 5px 10px rgb(255, 0, 212);
}

.ap{
    font-size:x-large;
}
------------------CONTACT PAGE----------------------------

label {
    font-size: .7rem;
}
  
input[type='image'] {
    margin-top: .5rem;
}
  
input[type='image'] {
    width: 9%;
}

.preference {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0.5rem;
}

.survey {
    text-shadow: 0px 5px 10px rgb(242, 250, 12);
    text-align: center;
}
.survQ {
    color: #d7d9f2;
    text-shadow: 0px 5px 10px rgb(242, 250, 12);
    text-align: center;
}
---------------------- FITNESS ---------------------------------
.fit {
    border: 10px ridge rgb(255, 255, 0);
    background-color: rgb(243, 146, 237);
    padding: 1.0rem;
    
    
  }
  
  .fit img {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .fit p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
  }
  

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 400px){
    .nav a {
        float: none;
        width: 100%;
    }
}
  
.design {
    font-size: 20px;
    color: rgb(255, 136, 136);
    background-color: rgb(142, 255, 142);

}

.day {
    font-size: 20px;
    color: rgb(24, 69, 101);
    background-color: rgb(191, 233, 255);
   
}

.grand {
    font-size: 20px;
    color:rgb(111, 72, 72);
    background-color: rgb(255, 150, 174);

}

.gym {
    font-size: 20px;
    color: rgb(246, 163, 246);
    background-color: rgb(164, 60, 255);

}

.pie {
    font-size: 20px;
    color: rgb(54, 34, 34);
    background-color: rgb(186, 121, 164);

}

.pool {
    font-size: 20px;
    color: cyan;
    background-color: rgb(92, 180, 236);

}

.strength {
    font-size: 20px;
    color: rgb(255, 0, 0);
   
}