ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
}
button {
    float: left;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

button a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

button a:hover {
    background-color: chartreuse;
    color: black;
    font-size: 32px;
}

button a:hover:not(.active) {
    background-color: aquamarine;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.carousel-item img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0px;
{


    



.container{
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
    color: blue;
    text-shadow: 0px 5px 10px rgb(8, 1, 7);
    border: 9px solid rgb(222, 7, 241);
    background-image: image-set("images/song-for-littles-speech-therapy.jpg")
    
    
}

.PoP {
    text-align: center;
    border-style: solid; padding: 50px;
    
}
.musictherapy {
    display: grid;
    background-color: rgb(248, 242, 247);
    pad: 9px;
    grid-template-columns: auto auto auto;
    gap: 4px 5px;
}
.img0 {
    border: solid black 5px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.img0 {
    border: solid black 5px;
    padding: 10px;
    font-size: 20px;
    text-align: center;

}

<<<<<<< HEAD
.batman {
    background-color: #d7d9f2;
  }
  
  .flash {
    background-color: #ffe8d4;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 6px;
  }
  
  td {
    text-align: center;
  }
  
  figure {
    margin: 0;
  }
  
=======
.one{
    border: solid black 2px;

}
>>>>>>> 9f14994dd17ac203bf7546f90b27bf53458f2fdd
